<ion-view view-title="Fotos - {{tituloGaleria}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-cancel" ng-click="multipleShareCancel();" ng-show="multipleShareCancelButton">
        </button>
        <button class="button button-icon button-clear ion-share" ng-click="multipleShare();" ng-show="multipleShareButton">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item id="item_{{arquivo.arquivoGaleriaID}}" ng-repeat="arquivo in arquivoGaleria" on-hold="onHold(this, {{arquivo.arquivoGaleriaID}})" ng-click="shareOptionsClick({{arquivo.arquivoGaleriaID}}, '{{arquivo.dsArquivoGaleria}}', '{{arquivo.galeria.path}}', '{{arquivo.file}}')" href="" ng->

                <img ng-src="{{apiURL}}/{{apiContext}}/{{arquivo.galeria.path}}/thumbs/{{arquivo.file}}"></img>
                {{arquivo.dsArquivoGaleria}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>